* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body { 
	background-color: #fffff3; 
} 
h1 { 
	font-size:1.6cm; text-align: center; margin-top: 70px; color: black; text-shadow: 0 0 2mm coral
}
.descript {
	display: block;
	text-align: center;
	color: sienna;
	font-size: 12;
	letter-spacing: 7px;
}

h2 {
	margin-left: 22px;
}
h3 {
	margin-left: 22px;
}
.menu {
	background-color: coral;
	display: flex;
	width: 100%;

}
.menu li {
	border: 1px solid black;
	list-style-type: none;
	border-radius: 10%;
	margin-left: 22px;
}
.menu li a 
{
	border-radius: 10%;
	display: block;
	width: 100%;
	font-size: 23px;
	text-decoration: none;
	color: #000;
}
.menu li a:hover 
{
	background-color: #fffff3;
}
.loaded {
	background-color: #fffff3;
}

.bg_img_code {
	/* background: url('/www/site.com/img1.jpeg') no-repeat; */
	 margin: 0 auto;
	/* opacity: .2; */
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	width:100%;
	height: 70%;
	text-align: center;
	position: relative;
	/* z-index: 0; */
	/* display: flex;   */
}

.bg_img_code img { 
	opacity: .15; 
}

.text_under_image {
	color: rgb(97, 35, 12);
	/* display: inline-block;  */
	/* z-index: 11; */
	line-height: 1.7;
	font-size: 20px;
	text-align: left;
	bottom: 100px; top: 50px; left: 15% ; 
	position: absolute;
}