* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body { 
	background-color: #fffff3; 
} 
h1 { 
	font-size:2cm; text-align: center; margin-top: 70px; color: black; text-shadow: 0 0 2mm green 
}
h2 {
	margin-left: 22px;
}
.menu {
	background-color: coral;
	display: flex;
	width: 100%;

}
.menu li {
	border: 1px solid black;
	list-style-type: none;
	border-radius: 10%;
	margin-left: 22px;
}
.menu li a 
{
	border-radius: 10%;
	display: block;
	width: 100%;
	font-size: 23px;
	text-decoration: none;
	color: #000;
}
.menu li a:hover 
{
	background-color: #fffff3;
}
.loaded {
	background-color: #fffff3;
}
